*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color:#fff;
}
.navigation_bar .item{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.caret{
    cursor: pointer;
}
.fontaws{
    display: flex;
    justify-content: space-around;
    width: 80px;
}
.plus .fas,.bar .fas{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.dp{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;

}
.info{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    float: right;
}
.dp .img{
    border: 2px solid red;
    border-radius: 50%;
}
.dp .img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
}
.name{
    margin-left: 15px;
}
.edit_profile{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.edit_profile .btn{
    width: 80%;
    height: 30px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    outline: none;
    border:0.1px solid #fff;
}
.edit_profile .btn2{
    width: 30px;
    height: 30px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    outline: none;
    border:0.1px solid #fff;
}
.story{
    margin-top: 20px;
    margin-left: 15px;
}
.story .fas{
    float: right;
}
.stroyH{
    width: 90%;
}
.circles{
    margin-top: 20px;
    margin-left: 15px;
    width: 95%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}
.circles .circle1{
    background-color:gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.special_circle{
    border: 1px solid #fff;
}
.posts__tags{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.tag__s,.post__s{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
}
.active{
    /* border-bottom: 1px solid white; */
    border-bottom: 1px solid white;
}
.last{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position:sticky;
    margin-top: 10px;
    z-index: 101;
}
.last .createCircle,.last .createCircle img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}
table tr td img{
    width: 120px;
    
}
table tr td{
    padding: 0 5px 0 0;
}
